@charset "UTF-8";

/*estilos*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
i#iconemenu{
    display: block;
    background-color: rgb(33, 33, 33);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px -5px -12px -50px;
}
i#iconemenu:hover{
    background-color: lightgray;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body,html{
    background-color: antiquewhite;
}
main{
    background-color: white;
    width: 400px;
    padding: 5px;
    margin: auto;
    border-radius: 18px;
    border: 1px solid black;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.65);
}
header{
    background-color: darkgray;
    margin: -20px -8px 5px -8px;
    padding: 5px;
    height: auto;
    border: 1px solid black;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.497)
}
a{
    text-decoration: none;
    color: white;
}
menu > ul > li{
    list-style-type: none;
    background-color: rgb(67, 65, 65);
    display: none;
    height: 30px;
    border-top: 1px solid black;
    text-align: center;
    margin: 0px -5px 0px -90px;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.814);
}