body{
    background-image: linear-gradient(to right, cyan, #116a9a);
}
table{
    border-collapse: collapse;
    margin: auto;

}
thead{
    background-color: #072d3d;
}
thead > th{
    border: 1px solid black;

}

tbody > tr > td{
    border: 1px solid black;
    width: 300px; 
}

tfoot{
    border: 1px solid black;
    background-color: #072d3d;
}
tbody > tr:nth-child(2n){
    background-color: gray;
}
tbody > tr > td:hover{
    text-decoration: underline;
}
tbody > tr > td:active{
    background-color: darkgray;
}