body{

}
table{
    border-collapse: collapse;
}
thead{
    background-color: #072d3d;
}

tbody > tr > td{
    border: 1px solid black; 
}

tfoot{
    border: 1px solid black;
    background-color: #072d3d;
}
tbody > tr:nth-child(2n){
    background-color: gray;
}
tbody > tr > td:hover{
    text-decoration: underline;
}
tbody > tr > td:active{
    background-color: darkgray;
}