div{
    text-align: center;
    background-color: lightgray;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

div::hover{
    background-color: rgb(93, 179, 208);
}